.box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;
}

.ill {
    border-radius: 10px;
    margin-right: 15%;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
}

.box-secondary {
    padding: 5%;
    overflow: auto;
}

.box-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);

    background: hsla(33, 100%, 53%, 1);

    background: linear-gradient(90deg, #ba381f 0%,  #b5154b 100%);

    background: -moz-linear-gradient(90deg, #ba381f 0%,  #b5154b 100%);

    background: -webkit-linear-gradient(90deg, #ba381f 0%, #b5154b  100%);
}

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;

}
.heading {
    margin-bottom: 2%;
    align-items: center;
    letter-spacing: 3px;
    color: black;
    font-weight: bolder;
}

.error {
    font-size: .8em;
    font-weight: 500;
    color: #f44336;
    /*margin: 0px;*/
    margin: 1% 0 2% 2%;
}

.captcha-box {
    text-align: center;
    margin: 4% auto;
    width: min-content;
}

.quest{
    margin-top: 2%;
    text-align: center;

}

.closed{
    color:#ba381f;
     margin-top:15%;
      text-align: center;


}


@media screen and (max-width: 768px) {
    .box-primary {
        display: none;
    }

    .quest{
        margin-left: 170px;
    }

    .box {
        grid-template-columns: 100%;
    }

    .closed{
         text-align: center;
    }
}
