/*@font-face {*/
/*    font-family: "Gilroy";*/
/*    src: url(../../fonts//Gilroy-ExtraBold.otf);*/
/*    font-weight: 100;*/
/*}*/

.box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;
}

.box-secondary {
    padding: 5%;
    overflow: auto;
}

.box-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);

    background: hsla(33, 100%, 53%, 1);

    background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
}

.heading {
    align-items: center;
    letter-spacing: 3px;
    color: black;
    font-weight: bolder;
}

.error {
    font-size: .8em;
    font-weight: 500;
    color: #f44336;
    /*margin: 0px;*/
    margin: 1% 0 2% 2%;
}

.captcha-box {
    text-align: center;
    margin: 4% auto;
    width: min-content;
}


@media screen and (max-width: 768px) {
    .box-primary {
        display: none;
    }

    .box {
        grid-template-columns: 100%;
    }
}
